for ( var i=0; i< mon_obj.length; i++) {
}

for ( var i=0; i< mon_obj.length; i++) {
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
    text-align: center;
    border: 1px solid #dddd;
}

.row-centered {
    text-align: center;
}